<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title" style="font-family: flex;">Identification of Eye Witness Tweets</h4>
                    </div>
                    <div class="content">
                        <div>
                            Identifying Eyewitness during Disaster
                            Identifying Eyewitness  is an important area of research in cognitive psychology and human
                            memory.
                            Eyewitnesses frequently play a vital role in uncovering the truth about a disaster.
                            The evidence they provide can be critical in identifying, charging, and ultimately saving
                            the stucked people.
                            That is why it is absolutely essential that eyewitness evidence be accurate and reliable and
                            twitter is one such source.

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>





    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title" style="font-family: flex;" >Major Steps Include</h4>
                    </div>
                    <div class="content">
                        <div>
                            <ul>
                                <li>Dataset Selection</li>
                                <li>Train Model</li>
                                <li>Data Preprocessing</li>
                                <li>Feature Extraction</li>
                                <li>Machine Learning Model</li>
                                <li>Model Validation Techniques</li>
                                <li>Evaluation Metric</li>
                                <li>Model Testing</li>
                                <li>Save Model</li>
                            </ul>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</div>
<footer class="footer">
    <div class="container-fluid">
        
        <p class="copyright pull-right" style="font-family: flex;">
        Today is : {{todayDate | customDate}}   <br><a href="#" style="font-family: flex;">Supervised By  Dr.Shahid Iqbal Malik</a>, made by Asim Zubair & M.Tayyub Khan Ilyas
        
    </div>
</footer>
