<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                      <h4 class="title">Identification of Eye Witness Tweets</h4>
                    </div>
                    <div class="content">
                        <p class='text-primary'>
                            Social media platforms such as Twitter provide convenient ways to share and consume important information during disasters and emergencies. Information from bystanders and eyewitnesses can be
                            useful for law enforcement agencies and humanitarian organizations to get firsthand and credible information about an ongoing situation to gain situational awareness among other potential uses. However, the
                            identification of eyewitness reports on Twitter is a challenging task. This work investigates different types
                            of sources on tweets related to eyewitnesses and classifies them into three types (i) direct eyewitnesses,
                            (ii) indirect eyewitnesses, and (iii) vulnerable eyewitnesses. Moreover, we investigate various characteristics associated with each kind of eyewitness type. We observe that words related to perceptual senses
                            (feeling, seeing, hearing) tend to be present in direct eyewitness messages, whereas emotions, thoughts,
                            and prayers are more common in indirect witnesses. We use these characteristics and labeled data to
                            train several machine learning classifiers. Our results performed on several real-world Twitter datasets
                            reveal that textual features (bag-of-words) when combined with domain-expert features achieve better
                            classification performance. Our approach contributes a successful example for combining crowdsourced
                            and machine learning analysis, and increases our understanding and capability of identifying valuable
                            eyewitness reports during disasters.
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

  