<mat-drawer-container>
    <mat-drawer-content>
      <div class="silder">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="desktop-hide" (click)="drawer.toggle()">
          reorder
        </mat-icon>
        <div class="silder-content">
          <h1 style="font-family: flex;">EYEWITNESS IDENTIFICATION</h1>
          
        </div>
      </div>
      <footer class="footer" style="background-color: gray; padding: auto; height: 155px;">
        <div class="container-fluid">
            
            <p class="copyright pull-right" style="font-family: flex; color: white;">
              
              <a href="#" style="font-family: flex;">Supervised By  Dr.Shahid Iqbal Malik</a>, made by Asim Zubair & M.Tayyub Khan Ilyas
            </p>
        </div>
    </footer>
    </mat-drawer-content>
  </mat-drawer-container>